@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body-dark {
  background-color: var(--dark-principal);
  color: var(--dark-text);
}

.container-dark {
  background-color: var(--dark-principal);
  color: var(--dark-text);
}

.moon-icon {
  font-size: 25px;
  color: #828282;
}


:root {
  --dark-principal: #252329;
  --dark-text: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 25px;
  color: #333;
}



.back-button {
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.back-arrow,
.back-text {
  font-size: 16px;
  color: #2d9cdb;
}



.profile {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: inherit;
}

.profile-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: #828282;
}
.profile-section{
  text-align: center;
}

.box-form{
  margin-left: 200px;
}


.list-information-section {
  height: 440px;
  margin-top: 28px;
  text-align: center;
}

.list-item {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.list-item input {
  width: 320px;
  height: 45px;
  border-radius: 12px;
  border: 1px solid #828282;
  font-size: 13px;
  padding-left: 20px;
}

.list-bio input {
  height: 65px;
}

#submit {
  width: 82px;
  height: 38px;
  background-color: #2f80ed;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}



.list-information-section .list-photo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  position: relative;
  border: none;
}

.camera {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 1;
  margin-left: 25px;
}

.photo-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: #828282;
}

.item-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
}

.list-email .item-text,
.list-password .item-text {
  font-size: 18px;
  line-height: 24px;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
  background: inherit;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #bdbdbd;
}

.name {
  font-weight: 700;
  text-decoration: underline;
}

.menu-name {
  display: none;
  color: inherit;
}



@media (min-width: 412px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    margin-bottom: 40px;
  }

  .container {
    padding: 20px 50px 10px;
  }

  

  .back {
    width: 845px;
  }

  .back-button {
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
  }

  .back-arrow,
  .back-text {
    font-size: 18px;
    color: #2d9cdb;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }

  .profile-and-list-container {
    width: 845px;
    height: 827px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
  }

 

  .profile {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: inherit;
  }

  .profile-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    color: #828282;
  }

 

  .list-information-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .list-item input {
    width: 416px;
    height: 52px;
    border-radius: 12px;
    border: 1px solid #828282;
    font-size: 13px;
    padding-left: 20px;
  }

  .list-item input::placeholder {
    color: #bdbdbd;
  }

  .list-item .textarea {
    width: 416px;
    height: 91px;
    border-radius: 12px;
    border: 1px solid #828282;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .list-item .textarea::placeholder {
    color: #bdbdbd;
  }

  #submit {
    width: 82px;
    height: 38px;
    background-color: #2f80ed;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
  }

  .item-title {
    width: 80px;
  }

  .item-text {
    font-size: 18px;
    line-height: 24px;
  }

  .text-list {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
  }

 

  .list-information-section .list-photo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 25px;
    position: relative;
    border: none;
    margin-bottom: 20px;
  }

  .camera {
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .photo-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    color: #828282;
  }

  .item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #333333;
  }

  .list-bio {
    height: 113px;
  }

  

  footer {
    width: 845px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    background: inherit;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .menu-name {
    display: flex;
    color: inherit;
    font-size: 12px;
    font-weight: 700;
  }
}



